.grid-card-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e5a5a; /* Cor de fundo do card */
  border: 2px solid #333; /* Borda ao redor do card */
  border-radius: 8px; /* Bordas arredondadas do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ao redor do card */
}

.grid-card-title {
  font-size: clamp(
    1.5rem,
    4vw,
    2rem
  ); /* Ajusta o tamanho da fonte responsivamente */
  margin: 10px 0; /* Margem vertical */
  text-align: center;
  color: #333; /* Cor do texto */
  font-weight: bold; /* Negrito */
}

.grid-card-image {
  width: 100%;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra da imagem */
  border: 2px solid #000000; /* Borda ao redor da imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
}

.grid-card-text {
  font-size: clamp(
    1rem,
    3vw,
    1.25rem
  ); /* Ajusta o tamanho da fonte responsivamente, aumentado para até 1.25rem */
  margin: 0 10px; /* Margem horizontal */
  text-align: justify; /* Alinha o texto de forma justificada */
  color: #ffffff; /* Cor do texto */
  line-height: 1.6; /* Altura da linha para melhor legibilidade */
  border: 2px solid #ffffff; /* Borda ao redor do texto */
  padding: 10px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fundo semi-transparente para melhor contraste */
}
