.header.header {
  box-shadow: 1 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
  padding: 20px 0;
}

#logo {
  width: 100px; /* Defina a largura desejada */
  height: auto; /* Mantém a proporção da altura automaticamente */
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 5px;
  }
  .logo {
    width: 100px; /* Tamanho menor em dispositivos móveis */
  }
  .menu.active {
    display: flex;
  }

  .menu-icon {
    display: block; /* Mostra o ícone em telas menores */
  }
}
